<configuration>
  <configSections>
    <section name="linkinBookWeb"
             type="LinkinBook.Infrastructure.Web.LinkinBookWebSection, LinkinBook.Infrastructure.Web"
             allowLocation="true"
             allowDefinition="Everywhere" />
    <section name="linkinBookWebTests"
             type="LinkinBook.Tests.Infrastructure.LinkinBookTestsSection, LinkinBook.Tests.Infrastructure"
             allowLocation="true"
             allowDefinition="Everywhere" />
  </configSections>
  <linkinBookWeb configSource="LinkinBookWeb.config"></linkinBookWeb>
  <linkinBookWebTests configSource="LinkinBookTests.config"></linkinBookWebTests>
</configuration>